<% content_for :title, "Editing movie" %>

<h1>Editing movie</h1>

<%= render "form", movie: @movie %>

<br>

<div>
  <%= link_to "Show this movie", movie_path(@movie, sort: params[:sort], direction: params[:direction]) %> |
  <%= link_to 'Back to Movies', movies_path(sort: params[:sort], direction: params[:direction]) %>
</div>
