 /*CSS file for styling the different pages of the Movie app*/

  /*1. CSS classes for indicating the column by which the index view is sorted, and the direction of the sort*/
  /*Start*/
  .sorted-asc {
    background-color: lightgreen; /*Column color when sorted in ascending order*/
  }
  
  .sorted-desc {
    background-color: lightblue; /*Column color when sorted in descending order*/
  }
  
  .sort-icon {
    margin-left: 5px; /*Place the arrow indicating the sort direction 5px right of the column name*/
  }
  /*End*/

  /*2. CSS classes for styling the entry form that appears in create and update modes*/
  /*Start*/
  
  /*CSS specification for the overall form*/
  .form {
    background-color: #ffe4e1;
    padding: 15px;
    margin: 0px auto;
    width: 80%;
    border-radius: 10px;
  }
  
  /*Changing the color of an input box in the form to yellow when clicked or in focus*/
  .form input:focus {
    background-color: yellow; 
  }

  /*CSS specification for the container encapsulating each field-input pair in the form */
  .field-container {
    display: flex;
    align-items: center; 
    margin-bottom: 15px; /* Add spacing between consecutive fields of the form*/
  }
  
  /*CSS specification for each field label in the form*/
  .form-label {
    width: 150px; /*Set a fixed width for the field labels to ensure uniform alignment of the consecutive input boxes in the form*/
    margin-right: 10px; /*Add space between the label and the input box*/
    font-weight: bold;
  }
  
  /*CSS specification for each field input in the form*/
  .form-input {
    flex: 1; /*Next to field width, input box takes up the remaining horizontal space of the form width*/
    padding: 5px;
    border: 1px solid #ccc; /* Add border to the input box*/
    border-radius: 4px; /* Add rounded corners to the input box*/
  }
  
  /*CSS specification for the form submit button*/
  .form-submit {
    text-align: center;
    margin-top: 20px;
  }
  /*End*/


  /*3. CSS classes for designing the table structure of the movie table in index view*/
  /*Start*/

  /*CSS specification for the entire movie table*/
  .movie-table {
    margin: 0 auto; 
    border-collapse: collapse;
    width: 80%;
  }
  
  /*Add borders to the table and its elements*/
  .movie-table th, 
  .movie-table td {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
  }
  
  /*Style the table headers*/
  .movie-table th {
    background-color: #f2f2f2; /* Light gray background for headers */
    font-weight: bold; /* Makes the headers bold */
  }
  /*End*/

  /*4. CSS classes for designing the footer of the movie table in the index view*/  
  /*Start*/

  /*CSS specification for the footer section*/
  .footer {
    text-align: center !important;
    padding: 15px !important;
    font-size: 18px;
    font-weight: bold;
    border: none !important; /* Remove overall table border from the footer row*/
    background-color: transparent;
  }
  
  /*CSS specification for the link-text in the footer section*/
  .footer a {
    display: inline-block;
    padding: 15px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    text-decoration: none; /* Removes underline from link */
    color: #000;
  }
  
  /*Displays a shadow, when cursor hovers above footer*/
  .footer a:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  }
  /*End*/